@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* @font-face {
  font-family: "CircularSpotifyText-light";
  src: url("fonts/CircularSpotifyText-Light.otf") format("opentype");
}

@font-face {
  font-family: "CircularSpotifyText-medium";
  src: url("fonts/CircularSpotifyText-Medium.otf") format("opentype");
}

@font-face {
  font-family: "CircularSpotifyText-bold";
  src: url("fonts/CircularSpotifyText-Bold.otf") format("opentype");
}

@font-face {
  font-family: "CircularSpotifyText-book";
  src: url("fonts/CircularSpotifyText-Book.otf") format("opentype");
} */

:root {
  --BackGroundColor: #111111;
  --TextWhite: #ffffff;
  --SpotifyGreen: #01b34e;
  --SpotifyDarkerGreen: #249c17;
  --DarkBlack: #060606;
  --DarkGreen: #0c3d1d;
  --cardWidth: 300px;
  --cardHeight: 360px;
}

.Home {
  background-color: rgb(15, 15, 15);
  width: 100vw;
  height: 100vh;
}

.cardOverlay {
  position: absolute;
  /* width: fit-content;
  height: fit-content; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardContainer {
  height: fit-content;
  width: fit-content;
}

.buttonRowWrapper {
  position: absolute;
  /* width: fit-content;
  height: fit-content; */
  top: 80%;
  left: 50%;
  transform: translate(-50%, 10%);
}

.buttonRow {
  display: flex;
  justify-content: space-between;
  height: 25px;
  width: 200px;
}

.home-btn {
  height: 50px;
  width: 50px;

  background-color: black;
  outline: 0;
  border: 3px solid white;

  box-shadow: 0;
  border-radius: 360%;

  cursor: pointer;
}

.home-btn:active {
  -webkit-tap-highlight-color: transparent;
}

.paolo {
  height: 100vh;
  width: 100%;
  background-color: white;
}
