@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@font-face {
  font-family: "CircularSpotifyText-light";
  src: url("fonts/CircularSpotifyText-Light.otf") format("opentype");
}

@font-face {
  font-family: "CircularSpotifyText-medium";
  src: url("fonts/CircularSpotifyText-Medium.otf") format("opentype");
}

@font-face {
  font-family: "CircularSpotifyText-bold";
  src: url("fonts/CircularSpotifyText-Bold.otf") format("opentype");
}

@font-face {
  font-family: "CircularSpotifyText-book";
  src: url("fonts/CircularSpotifyText-Book.otf") format("opentype");
}

:root {
  --BackGroundColor: #111111;
  --TextWhite: #ffffff;
  --SpotifyGreen: #01b34e;
  --DarkBlack: #060606;
  --DarkGreen: #0c3d1d;
  --cardWidth: 100vh;
  --cardMaxWidth: calc(var(--cardWidth)+10vw);
  --cardHeight: 400px;
}
