* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(15, 15, 15);
  font-family: circular-bold;
  height: 100vh;
}

@font-face {
  font-family: circular-bold;
  src: url(./fonts/CircularStd-Bold.otf);
}

@font-face {
  font-family: circular-medium;
  src: url(./fonts/CircularStd-Medium.otf);
}

@font-face {
  font-family: circular-light;
  src: url(./fonts/CircularStd-Light.otf);
}

/* navbar               */

/* 
.active {
border-radius: 10px;
background-color: white;
color: black;
} */

/* -------------------------------------- */

/* content */

.TextContainer {
  position: relative;
  text-align: center;
  height: 450px;
  /* background-color: red; */
}

.MainText {
  font-size: 80px;
  align-items: center;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.Slogan {
  font-size: 40px;
  opacity: 0.8;
  font-family: circular-light;
  align-items: center;
  margin: 0;
  position: absolute;
  top: 50%;
  padding-top: 90px;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

/* Button                               */

.container {
  height: 260px;
  width: fit-content;
  margin: 0 auto;
  top: 0;
  left: 0;
  position: relative;
}

.LoginContainer {
}

.LoginButton {
  cursor: pointer;
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  border: 0.9px solid white;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  border-radius: 6px;
  background-color: black;
}

.LoginButton span {
  position: relative;
  z-index: 2;
}

.LoginButton:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: white;
  transition: all 0.35s;
}

.LoginButton:hover {
  color: black;
}

.LoginButton:hover:after {
  width: 100%;
  border-radius: 2px;
}

/* -------------------------------------------------------- */

/* footer */

.footer {
  height: 40px;
}

.footer p {
  /* padding-top: 5px; */
  text-align: center;
  opacity: 0.8;
  font-size: 15px;
  color: white;
}

/* -------------- */

/* bah diciamo responsive */

@media screen and (max-width: 650px) {
  .MainText {
    font-size: 60px;
  }
  .Slogan {
    font-size: 30px;
  }
}

@media screen and (max-width: 400px) {
  .MainText {
    font-size: 50px;
  }
  .Slogan {
    font-size: 25px;
  }
}

@media screen and (max-width: 360px) {
  .MainText {
    font-size: 40px;
  }
  .Slogan {
    font-size: 25px;
  }
  .LoginPage ul {
    font-size: 13px;
  }
}
