.right {
    float: right!important;
}

.NavMain {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    font-family: circular-bold;
    overflow: hidden;
    background-color: black;
    /* border-bottom: 4px solid white; */
}

.NavContent {
    float: left;
}

.NavContent:last-child {
    border-right: none;
}

.NavContent a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

.NavContent a:hover {
    opacity: 0.9;
    opacity: 0.9;
    border-radius: 10px;
    background-color: white;
    color: black;
    cursor: pointer;
}