* {
    margin: 0;
    padding: 0;
}


/* Fonts(if it wasn't obvious) */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@font-face {
    font-family: 'CircularSpotifyText-light';
    src: url('fonts/CircularSpotifyText-Light.otf') format('opentype');
}

@font-face {
    font-family: 'CircularSpotifyText-medium';
    src: url('fonts/CircularSpotifyText-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'CircularSpotifyText-bold';
    src: url('fonts/CircularSpotifyText-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'CircularSpotifyText-book';
    src: url('fonts/CircularSpotifyText-Book.otf') format('opentype');
}

:root {
    --BackGroundColor: #111111;
    --TextWhite: #ffffff;
    --SpotifyGreen: #1BC759;
    --DarkBlack: #060606;
    --DarkGreen: #0C3D1D;
}


/*  */

.Selector,
.Selector * {
    margin: 0;
    padding: 0;
    position: relative;
}

.Selector {}